header {
    height: calc(100vh-3em);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > figure > img {
    height: 6em;

}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'Montserrat', sans-serif;

}

h2,
h1,
a {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}

img {
    max-width: 100%;
    overflow: hidden;
}


.imagenmarca {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#barra {
    height: 3em;
    background-color: #DFD163;

}

#menu {
    position: sticky;
    top: 0em;
    width: 100%;
    height: 3em;
    background-color: #2B2B2B;
    z-index: 2000;
}

#menu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#menu > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    justify-content: space-around;
    min-width: 10%;
}


#menu > ul > li > a {
    text-decoration: none;
    color: #DFD163;
}

#menu > ul > li > i {
    color: white;
}

#menu > ul > li > a:hover {
    font-weight: bold;
}

#Galeria {
    background-color: #1B1B1B;
    padding: 6%;
    padding-bottom: 0px;
}

#Galeria > div {
    background-color: white;
    padding: 2%;
    position: relative;
    top: -145px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


#Carrusel {
    width: 100%;

    overflow: hidden;
    position: relative;
    height: 35em;
}

#Carrusel > div {
    position: relative;
    left: 0;
    width: 800%;
    display: flex;
    transition-duration: 1s;
    height: auto;
}

#Carrusel > div > figure {
    flex: 15%;
    float: left;
}

#Carrusel > div > figure > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}

body {
    background-color: white;

}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(223, 209, 99);
    background: rgba(223, 209, 99, 0.7);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 10px;

    transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(233, 209, 99, 0.9);
    cursor: pointer;
}

#return-to-top:hover i {
    border: solid white;
    border-width: 0 3px 3px 0;
    margin-top: 5px;
}


/* Extra Things */
body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
}



h3 i {
    color: #444;
}

/*Proyectos*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Proyectos {
    height: 80vh;
    color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;



}

.background {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(223, 202, 99, 0.0);


}

.container {
    width: 100%;
    width: 900px;
    height: 400px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
    position: relative;

}

.card {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    --transition-timing: 0.25s;
}

.card.active {
    flex-grow: 100;
}

.card > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: left;
    filter: brightness(0.8);
    z-index: ;
    transition: var(--transition-timing) ease;
}

.card.active > .background {
    filter: brightness(1) grayscale(0);
}

.card > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 10;
}

.card.active > .card-content {
    inset: 20px;
    top: auto;
}

.card-content * {
    transition: var(--transition-timing);
}

.card-content > .profile-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.card.active .profile-image {
    border: 1px solid #DFD163;
}

.profile-image > svg {
    stroke: #fefefe;
}

.card.active .profile-image > svg {
    stroke: #DFD163;
}

.card-content > .title {
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    text-decoration: none;

    transition-delay: 0.3s;
}

.card.active .title {
    opacity: 1;
    color: white;
    text-decoration: none;
    translate: 0 0;
}

.card > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(223, 202, 99, 0.8));
}

#Presntacion {
    background-color: #1B1B1B;
    padding: 3em;
    /* Align items to the start of the cross axis */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 25em;
    background-color: #DFD163;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23em;
    width: 23em;
    background-color: #1B1B1B;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto > figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21em;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.foto > figure > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.presntacion-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;
}


.about-me {
    width: calc(100% - 23em);
    font-size: 1.5em;
    background-color: #DFD163;
    padding: 30px;
    margin-left: 3em;
    margin-top: 110px;
    border-radius: 20px;
    /* Adjusted border-radius for rounded corners */
}

.contact,
.skills,
.education {
    padding: 40px;
    background-color: #DFD163;
    border-radius: 20px;

}

.education {
    margin-top: 2em;
    min-width: 25em;

}

.contact {
    min-width: 25em;

}

.Aboutcontacto {
    width: 25%;
    margin: 2em;

}

.skills {
    padding: 20px;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 5%;
    width: 75%;
    min-height: 20em;

    /* Set the background to transparent */
}

.skills h2 {
    margin-bottom: 10px;
    background-color: transparent;
}

.skills table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 3em;
    margin-top: 5%;

}

.skills td {
    padding: 10px;
    position: relative;
}

.skill-level {
    position: absolute;
    top: 0;
    left: 2%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-right: 6em;
}

.rect {
    width: 40px;
    height: 20px;
    margin-left: 2px;
    background-color: #2B2B2B;
}

.rectEmpty {
    width: 40px;
    height: 20px;
    margin-left: 2px;
    border: 2px solid #2B2B2B;
}

#Programas {
    text-align: center;
    background-color: #DFD163;

}

#Programas > h2 {
    font-size: 6em;

}

.programas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5em;
    margin-bottom: 0em;
    /* Centra el contenedor */
}

.programa {
    margin: 30px;
}

.programa img {
    max-height: 10em;

    /* Para asegurarse de que las imágenes ocupen el ancho completo del contenedor */
    border-radius: 8px;
}

#Motores {
    text-align: center;
    background-color: #1D1D1D;

}

#Motores > h2 {
    font-size: 6em;
    color: #DFD163;
}

}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

#Contacto {
    display: flex;
    margin: 10em;
    margin-top: 2em;
    margin-bottom: 0px;

    flex-direction: row;
}

#mensaje-container,
#informacion-personal-container {
    flex: 1;
    padding: 20px;
}

#mensaje-container {
    align-self: flex-start;
    padding: 2em;
}

#mensaje-container h1 {
    margin-bottom: 2em;
}

#mensaje-container p {
    margin-bottom: 3em;
}

#mensaje-container h2 {
    margin-bottom: 2em;
}

#informacion-personal-container {
    align-self: flex-end;
}

.nombre-apellido-container {
    display: flex;
}

#nombre,
#apellido {
    margin-right: 3em;
}

#nombre,
#apellido,
#email,
#sujeto,
#caja-escritura {
    margin-bottom: 2em;
    /* Agrega separación vertical de 3em */
    padding: 8px;
    box-sizing: border-box;
}

#caja-escritura {
    resize: vertical;
    /* Solo permite redimensionamiento vertical */
    min-height: 14em;
}

input,
textarea,
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}




@media (max-width: 600px),
screen and (orientation: portrait) {

    a {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;

    }

    .about-me > p {
        font-size: 1em;

    }

    .column {
        flex: 75%;
        min-width: 48%;
        max-width: 100%;
        padding: 0 20px;
        /* Add a temporary background color */
    }

    .menu {
        height: 7em;
    }

    header {
        height: 21em;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    header > div > figure > img {
        height: 6em;

    }


    header > div > figure > img {
        height: 20em;

    }

    .imagenmarca {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #barra {
        height: 10em;
        background-color: #DFD163;

    }

    #Proyectos {
        height: 30vh;
    }

    .presntacion-container:nth-of-type(2) {
        margin-top: 0em;
        flex-direction: column;

    }

    .circle {
        margin-top: 5em;
    }


    .education {
        margin-top: 2em;
        min-width: 100%;

    }

    .contact {
        min-width: 100%;

    }


    .Aboutcontacto {
        width: 75%;
        margin-left: 5.5em;
    }

    .skills {
        padding: 20px;
        margin-top: 2em;
        margin-left: 10%;
        margin-right: 5%;
        width: 75%;
        min-height: 20em;

        /* Set the background to transparent */
    }

    #informacion-personal-container {
        font-size: 1.5em;
        /* Adjust the font size for better visibility on mobile */
        align-self: flex-start;
        min-width: 80%;
    }

    #caja-escritura {
        min-height: 14em;
        font-size: 1.5em;
        /* Adjust the min-height for larger textarea on smaller screens */
        max-width: 100%;
    }

    #Contacto {
        flex-direction: column;
        margin: 0em;
    }

    .nombre-apellido-container {
        flex-direction: column;
        max-width: 50%;
    }

    input {
        min-height: 2em;
        font-size: 1.5em;
        max-width: 400px;
    }

    button {
        margin-bottom: 10px;
        width: 50%;
        padding: 34px;
        /* Increase padding for larger boxes on mobile */
        box-sizing: border-box;
        font-size: 1.5em;
    }
